body {
	background-image: none;
	padding-top: 5px;
}
.title-area {
    background-color: #33373e;
    padding: 60px 0 20px;
    color: #fff;
    margin-top: -15px;
}
.title {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
.title-sub{
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 40px;
}
nav.main a.brand {
    padding-top: 5px;
}
.btn, footer.main{
	background: #33373E;
}
.sidebar {
	padding: 35px 0;
}
.docs #search, .docs article {
    padding-left: 0;
    padding-right: 0;
}
.panel.ecosystem {
    background: none;
    padding: 50px 0;
}
.dv-logo {
    height: 45px;
}
body.the-404 .contain {
    height: 50vh;
    text-align: center;
}
.panel.ecosystem .tiles .tile:nth-child(3) {
    margin-right: 0;
}
footer.main {
    padding: 20px 0;
}
.panel.ecosystem {
    text-align: center;
    height: 50vmin;
    margin-top: 60px;
}